# nvitop 
git+https://github.com/XuehaiPan/nvitop.git#egg=nvitop
# mlflow packages
mlflow-skinny
pycocotools
opencv-python-headless
pandas
# foundation model packages
torch
matplotlib
# SAM
git+https://github.com/facebookresearch/segment-anything-2.git@c2ec8e14a185632b0a5d8b161928ceb50197eddc
# RAG
python-dotenv
qdrant-client
# langchain
langchain
langchain-community
langchain-core
langchain-openai
langchain-ollama
langchainhub
# openai
openai
# rst file loaders
# pandoc
pypandoc
unstructured

